.height-300 {
  /* height: 30%; */
  max-height: 670px;
}
.cont-slider {
  margin-top: 90px !important;
}

@media (max-width: 767px) {
  .height-300 {
    max-height: 260px;
  }
  .cont-slider img {
    height: 260px;
  }
}
@media (max-width: 980px) {
  .height-300 {
    max-height: 480px;
  }
}
